/* reset default values */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* colors */
:root{
    --white: #FFFFFF;
    --black1: #24303E;
    --blue1: #052C3B;
    --blue2:#19536C;
    --gray1: #808397;
    --gray2: #A7AAAD;
    --gray3: #5B636D;
    --green1: #24554A;
    --green2: #2C7566;
    --back-blue: #49BCF1;
}

.portrait {
    width: 100%;
    height: 100vh;
    background-color: var(--back-blue);
}

.portrait > img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.info > .info_row {
    height: 600px;
    width: 100%;
    display: flex;
}

.info > .info_row > .info_row__text, .info_row__image  {
    width: 50%;
}

.info_row__text  {
    background-color: pink;
}

.info_row__image  {
    background-color: cyan;
}

.reverse {
    flex-direction: row-reverse;
}

.testimonials {
    height: 100vh;
    width: 100%;
    background-color: grey;
}

.footer {
    height: 100vh;
    width: 100%;
    background-color: silver;
}
